.title{
    background-color: rgb(77, 77, 204);
    display: grid;
    justify-content: center;
    text-align: center;
    color: blanchedalmond;
    padding: 50px;
}

#container{
    padding: 50px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: start;
}


#search{
   font-size: 45px;
}